<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to {{ ansible_hostname }}</h1>
    <p>NGINX is running on {{ ansible_default_ipv4.address }}</p>
</body>
</html>
